<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conDB"
    connectionString="Data Source = 172.16.4.15; &#xD;&#xA;								Initial Catalog=VAWEB_IC; &#xD;&#xA;								User ID=sa;&#xD;&#xA;								Password=DMS$123"



    providerName="System.Data.SqlClient" />
	</connectionStrings>
	
 <system.serviceModel>
   <behaviors>
     <endpointBehaviors>
       <behavior name="BehaviorMarcacionesSap" >
         <clientVia viaUri="https://my640147.payroll.ondemand.com/sap/bc/srt/rfc/sap/zecp_ws_marca_visual_asist/100/zecp_ws_marca_visual_asist/marcaciones?sap-client=100" />
       </behavior>
     </endpointBehaviors>
   </behaviors>
    <bindings>
      <basicHttpsBinding>
         <binding name="Marcaciones" 
				  maxBufferSize="1073741824"
				  maxReceivedMessageSize="1073741824"
				  openTimeout="00:10:00"
				  closeTimeout="00:10:00"
				  sendTimeout="00:10:00"
				  receiveTimeout="00:10:00"
				  >
			 <readerQuotas maxStringContentLength="2000000" />
             <security mode="Transport">
               <transport clientCredentialType="Basic" />
             </security>
          </binding>
          
       </basicHttpsBinding>
    </bindings>
    <client>
       <endpoint address="https://my640147.payroll.ondemand.com/sap/bc/srt/rfc/sap/zecp_ws_marca_visual_asist/100/zecp_ws_marca_visual_asist/marcaciones?sap-client=100"
          binding="basicHttpsBinding" bindingConfiguration="Marcaciones"
          contract="ServiceReferenceTest.ZECP_WS_MARCA_VISUAL_ASIST"
          name="Marcaciones" 
                 behaviorConfiguration="BehaviorMarcacionesSap"/>
      
    </client>
 </system.serviceModel>
</configuration>