<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conDB"
    connectionString="Data Source = LAPTOPCOCO; &#xD;&#xA;								Initial Catalog=VAWEB_IC; &#xD;&#xA;								User ID=sa;&#xD;&#xA;								Password=IDC$123"



    providerName="System.Data.SqlClient" />
	</connectionStrings>
	
 <system.serviceModel>
   <behaviors>
     <endpointBehaviors>
       <behavior name="BehaviorMarcacionesSap" >
         <clientVia viaUri="https://my640147.payroll.ondemand.com/sap/bc/srt/wsdl/flv_10002A111AD1/bndg_url/sap/bc/srt/rfc/sap/zecp_ws_marca_visual_asist/100/zecp_ws_marca_visual_asist/marcaciones?sap-clien" />
       </behavior>
     </endpointBehaviors>
   </behaviors>
    <bindings>
      <basicHttpsBinding>
         <binding name="Marcaciones">
             <security mode="Transport">
               <transport clientCredentialType="Basic" />
             </security>
          </binding>
          
       </basicHttpsBinding>
    </bindings>
    <client>
       <endpoint address="https://vacipqn.dc064.sf.priv:50001/sap/bc/srt/rfc/sap/zecp_ws_marca_visual_asist/100/zecp_ws_marca_visual_asist/marcaciones"
          binding="basicHttpsBinding" bindingConfiguration="Marcaciones"
          contract="ServiceReferenceTest.ZECP_WS_MARCA_VISUAL_ASIST"
          name="Marcaciones" 
                 behaviorConfiguration="BehaviorMarcacionesSap"/>
      
    </client>
 </system.serviceModel>
</configuration>